<center>
   <p>
      Parabéns  sua conta foi criada  </b>
   </p>
   <table>
      <tr>
         <td align="right"><b>E-mail:</b></td>
         <td align="left"> {{email}}</td>
      </tr>
      <tr>
         <td align="right"><b>Senha:</b></td>
         <td align="left">{{password}}</td>
      </tr>
  </table>
</center>
